[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
pytest-django = "*"
pytest = "*"
pytest-cov = "*"
django-bootstrap-v5 = "*"
requests = "*"
defusedxml = "*"
requests-mock = "*"
djangorestframework = {git = "https://github.com/encode/django-rest-framework"}
binance-connector = "*"
django-ai = {editable = true, ref = "tradero", git = "https://github.com/math-a3k/django-ai"}
django-nested-admin = "*"
pandas = "*"
psycopg2 = "*"
django-rq = "~=2.6"
django-redis = "*"
django-mathfilters = "*"
rq-scheduler = "*"
daphne = "*"
channels = "*"
channels-redis = "*"
django-websocketclient = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
statsmodels = "*"
rq = "==1.13"
supervisor = "*"
uwsgi = "*"
time-machine = "*"
encore = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
twisted = {extras = ["http2", "tls"], version = "*"}
drf-spectacular = "*"

[dev-packages]
pre-commit = "*"
isort = "*"
black = "*"
pycln = "*"
sphinx = "*"
ipdb = "*"
