[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5"
django-environ = "*"
pytest-django = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"
defusedxml = "*"
requests-mock = "*"
djangorestframework = {editable = true, git = "https://github.com/encode/django-rest-framework.git"}
binance-connector = "*"
django-nested-admin = "*"
pandas = "*"
psycopg2 = "*"
django-redis = "*"
django-mathfilters = "*"
daphne = "*"
channels = "*"
channels-redis = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
statsmodels = "*"
supervisor = "*"
uwsgi = "*"
encore = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
twisted = {extras = ["http2", "tls"], version = "*"}
drf-spectacular = "*"
asgiref = "*"
asyncio = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-results = "*"
django-celery-beat = {editable = true, git = "https://github.com/celery/django-celery-beat.git"}
python-crontab = "*"
pytest-celery = "*"
django-axes = {version = "*", extras = ["ipware"]}
django-clearcache = "*"
django-ratelimit = "*"
django-ai = {ref = "tradero", editable = true, git = "https://github.com/math-a3k/django-ai.git"}
pipenv = "==v2023.7.23"
pytest-env = "*"
django-websocketclient = {git = "https://github.com/math-a3k/django-websocketclient"}
beautifulsoup4 = "*"
websockets = "*"
pip = "*"
install = "*"
django-bootstrap-v5 = {git = "https://github.com/math-a3k/django-bootstrap-v5.git"}
pyarrow = "*"
numpy = "<2"

[dev-packages]
pre-commit = "*"
isort = "*"
black = "*"
pycln = "*"
sphinx = "*"
ipdb = "*"
