{% load mathfilters symbols %}

<li id="botzinho-{{ bot.id }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      	<h5 class="mb-1">
      		<span class="text-muted">#{{ bot.id|stringformat:"03d" }}</span> <a href="{% url "base:botzinhos-detail" bot.pk %}">{{ bot.name }}</a> |
      		{% with bot.get_status_display as status %}
      			{% if status == "Selling" %}
      				<span class="text-danger">{{ status }}</span>
      			{% elif status == "Buying" %}
      			    <span class="text-success">{{ status }}</span>
      			{% elif status == "Inactive" %}
      			    <span class="text-muted">{{ status }}</span>
      			{% endif %}
      		{% endwith %}
      		<a href="https://www.binance.com/en/trade/{{ bot.symbol.base_asset}}_{{ bot.symbol.quote_asset }}?_from=markets&theme=dark&type=spot" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action bg-light bg-gradient text-center" style="">
      			{{ bot.symbol.base_asset }}/{{ bot.symbol.quote_asset }}
      		</a>
      	</h5>
      	<small class="text-muted text-end">
      		<span class="badge bg-success rounded-pill"><a class="text-white" href="{% url "base:botzinhos-group-detail" bot.group.pk %}">{{ bot.group.name|default:"(Sem Nome)" }}</a></span>
      		{% if bot.is_dummy %}
      		<span class="badge bg-info rounded-pill">DUMMY</span>
	      	{% endif %}
	      	{% if bot.is_jumpy %}
      		<span class="badge bg-primary rounded-pill">Jumpy</span>
	      	{% endif %}
	      	{% if bot.should_reinvest %}
      		<span class="badge bg-primary rounded-pill">Reinvest</span>
	      	{% endif %}
	      	{% if bot.should_stop %}
      		<span class="badge bg-primary rounded-pill">Stop After Selling</span>
	      	{% endif %}
      		<br>{{ bot.strategy|upper }}({{ bot.strategy_params|default:"defaults" }})
      		{% if bot.status == bot.Status.SELLING %}
      		<br>FQAE: {{ bot.fund_quote_asset_exec|floatformat:2|default:"-" }} {{ bot.symbol.quote_asset }} | CV: {{ bot.valuation_current|floatformat:2 }} {{ bot.symbol.quote_asset }}
      		{% with bot.valuation_current|div:bot.fund_quote_asset_exec|sub:1|mul:100 as var_val %}
				[<span class="{% if var_val > 0 %}text-success{% else %}text-danger{% endif %}">{{ var_val|floatformat:2 }}%</span>]
			{% endwith %}
			 | TS: {{ bot.time_selling|timedelta|default:"-" }}
      		{% else %}
      		<br>FQA: {{ bot.fund_quote_asset|floatformat:2|default:"-" }} {{ bot.symbol.quote_asset }} | FQAI: {{ bot.fund_quote_asset_initial|floatformat:2|default:"-" }} {{ bot.symbol.quote_asset }}
      		{% with bot.fund_quote_asset|div:bot.fund_quote_asset_initial|sub:1|mul:100 as var_val %}
				[<span class="{% if var_val > 0 %}text-success{% else %}text-danger{% endif %}">{{ var_val|floatformat:2 }}%</span>]
			{% endwith %}
      		 | TB: {{ bot.time_buying|timedelta|default:"-" }}
      		{% endif %}
      	</small>
    </div>

    <p class="mb-1">
		{% for log in bot.others.last_logs|slice:"-3:" %}
			{{ log }} {% if not forloop.last %} <br />{% endif %}
		{% endfor %}
    </p>
</li>
