{% load mathfilters symbols %}

<li id="botzinho-{{ bot.id }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      	<h5 class="mb-1">
      		#{{ bot.id|stringformat:"03d" }}: <a href="{% url "base:botzinhos-detail" bot.pk %}">{{ bot.name }}</a> |
      		{% with bot.get_status_display as status %}
      			{% if status == "Selling" %}
      				<span class="text-danger">{{ status }}</span>
      			{% elif status == "Buying" %}
      			    <span class="text-success">{{ status }}</span>
      			{% elif status == "Inactive" %}
      			    <span class="text-muted">{{ status }}</span>
      			{% endif %}
      		{% endwith %}
      		<a href="https://www.binance.com/en/trade/{{ bot.symbol.base_asset}}_{{ bot.symbol.quote_asset }}?_from=markets&theme=dark&type=spot" target="_blank" rel="noopener noreferrer" class="list-group-item list-group-item-action">
      			{{ bot.symbol.base_asset }}/{{ bot.symbol.quote_asset }}
      		</a>
      	</h5>
      	<small class="text-muted text-end" >
      		{% if bot.is_dummy %}
      		<span class="badge bg-danger rounded-pill">DUMMY</span>
	      	{% endif %}
	      	{% if bot.is_jumpy %}
      		<span class="badge bg-primary rounded-pill">Jumpy</span>
	      	{% endif %}
	      	{% if bot.should_reinvest %}
      		<span class="badge bg-primary rounded-pill">Reinvest</span>
	      	{% endif %}
	      	{% if bot.should_stop %}
      		<span class="badge bg-primary rounded-pill">Stop After Selling</span>
	      	{% endif %}
      		<br>{{ bot.strategy|upper }}({{ bot.strategy_params }})
      	</small>
    </div>

    <p class="mb-1">
		{% for log in bot.others.last_logs %}
			{{ log }} {% if not forloop.last %} <br />{% endif %}
		{% endfor %}
    </p>
</li>
