{% extends "base/base.html" %}

{% load bootstrap5 mathfilters symbols %}

{% block title %}
	Botzinhos (小bots)
{% endblock title %}

{% block content %}
	<div class="container">
		<h6 class="text-center">
			<span id="date"></span> |
			<strong id="clock" class="text-primary"></strong>
			<strong>UTC</strong> - Time Interval: <span class="text-primary fw-bolder">| {{ time_interval }}m |</span>
		</h6>

		<div id="bots-list" class="list-group">
			{% bot_render_html_snippet bot=bot %}
		</div>

		<p></p>
		{% if bot.jumpy_whitelist or bot.jumpy_blacklist %}
		<p><strong>Jumpy lists</strong>: {{ bot.jumpy_whitelist|default:"-" }} (White) | {{ bot.jumpy_blacklist|default:"-" }} (Black)</p>
		{% endif %}
		{% if bot.fund_quote_asset %}
		<p><strong>Fund (Quote Assett)</strong>: {{ bot.fund_quote_asset }} {{ bot.symbol.quote_asset }}</p>
		{% endif %}
		{% if bot.fund_quote_asset_initial %}
		<p><strong>Fund (Quote Assett) Initial</strong>: {{ bot.fund_quote_asset_initial }} {{ bot.symbol.quote_asset }}</p>
		{% endif %}
		{% if bot.fund_base_asset %}
		<p><strong>Fund (Base Assett)</strong>: {{ bot.fund_base_asset }} {{ bot.symbol.base_asset }}</p>
		{% endif %}
		{% if bot.price_buying %}
		<p><strong>Price Buying (NET)</strong>: {{ bot.price_buying }} | <strong>Current Market Price</strong>: {{ bot.price_current }}
		{% with bot.price_current|div:bot.price_buying|sub:1|mul:100 as var_pc %}
			(<span class="{% if var_pc > 0 %}text-success{% else %}text-danger{% endif %}">{{ var_pc|floatformat:4 }}%</span>)
		{% endwith %}
		</p>
		{% else %}
		<p>
			<strong>Current Market Price</strong>: {{ bot.price_current }}
		</p>
		{% endif %}
		{% if bot.timestamp_start %}
		<p><strong>Timestamp - Start</strong>: {{ bot.timestamp_start }} ({{ bot.timestamp_start|timesince }} ago)</p>
		{% endif %}
		{% if bot.timestamp_buying %}
		<p><strong>Timestamp - Buying</strong>: {{ bot.timestamp_buying }} ({{ bot.timestamp_buying|timesince }} ago)</p>
		{% endif %}
		{% if bot.receipt_buying %}
		<p><strong>Receipt - Buying</strong>: <pre>{{ bot.receipt_buying }}</pre></p>
		{% endif %}

		<h4>Actions</h4>
		<ul>
			<li>
				<a class="btn btn-warning" href="{% url "base:botzinhos-update" bot.pk %}">Update</a>
			</li>
			<li>
				{% if not bot.price_buying %}
				{% bot_action_button "buy" "Force BUY" "btn-success" %}
				{% else %}
				{% bot_action_button "sell" "Force SELL" "btn-danger" %}
				{% endif %}
			</li>
			<li>
				{% if bot.status > bot.Status.INACTIVE %}
				{% bot_action_button "off" "Turn OFF" "btn-dark" %}
				{% else %}
				{% bot_action_button "on" "Turn ON" "btn-primary" %}
				{% endif %}
			</li>
			<li>
				{% bot_action_button "reset" "RESET" "btn-danger" %}
			</li>
		</ul>

	</div>

	{% include "base/trades_section.html" with summary=summary trades=trades page_obj=page_obj %}

{% endblock content %}

{% block bootstrap5_extra_script %}
    <script>
    	if (location.protocol === "http:") {
    		ws_protocol = "ws:"
    	} else {
    		ws_protocol = "wss:"
    	}

        const botsSocket = new WebSocket(
            ws_protocol + '//'
            + window.location.host
            + '/ws/bots/html'
        );

        botsSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // console.log(data)
            if (data.type === "bot_update") {
            	bot_element = document.getElementById(data.bot)
            	if (bot_element) {
            		bot_element.outerHTML = data.text;
            	}
            }
        };

        botsSocket.onclose = function(e) {
            console.error('Bots socket closed unexpectedly');
        };

        function currentTime() {
		  let date = new Date();
		  let hh = date.getUTCHours();
		  let mm = date.getUTCMinutes();
		  let ss = date.getUTCSeconds();

		   hh = (hh < 10) ? "0" + hh : hh;
		   mm = (mm < 10) ? "0" + mm : mm;
		   ss = (ss < 10) ? "0" + ss : ss;

		   let time = hh + ":" + mm + ":" + ss;

		  document.getElementById("clock").innerText = time;
		  document.getElementById("date").innerText = date.toLocaleDateString("en-US", {year: 'numeric', month: 'long', day: 'numeric' });
		  let t = setTimeout(function(){ currentTime() }, 1000);
		}

		currentTime();
    </script>
{% endblock %}
