{% extends "base/base.html" %}

{% load bootstrap5 mathfilters symbols %}

{% block bootstrap5_extra_head %}
<style type="text/css">
.bot-detail {
	margin-top: -1px;
	border-width-top: 0px;
	border:1px solid rgba(0,0,0,.125);
}

.bot-detail .list-group-item {
	border: 0;
}
</style>
{% endblock bootstrap5_extra_head %}

{% block title %}
	Botzinhos (小bots)
{% endblock title %}

{% block content %}
	<div class="container">
		<h6 class="text-center">
			<span id="date"></span> |
			<strong id="clock" class="text-primary"></strong>
			<strong>UTC</strong> - Time Interval: <span class="text-primary fw-bolder">| {{ time_interval }}m |</span>
		</h6>

		{% groups_breadcrumbs request.user %}

		<div id="bots-list" class="list-group pt-2">

			{% bot_render_html_snippet bot=bot %}

			<div class="bot-detail" style="">
				<ul class="list-group mt-0" style="border-width: 0px !important; ">
					{% if bot.jumpy_whitelist or bot.jumpy_blacklist %}
					<li class="list-group-item">
						<strong>Jumpy lists</strong>: {{ bot.jumpy_whitelist|default:"-" }} (White) | {{ bot.jumpy_blacklist|default:"-" }} (Black)
					</li>
					{% endif %}
					<li class="list-group-item">
						<strong>Fund (Quote Assett) Initial</strong>: {{ bot.fund_quote_asset_initial|floatformat:4|default:"-" }} {{ bot.symbol.quote_asset }}
					</li>
					<li class="list-group-item">
						<strong>Fund (Quote Assett)</strong>: {{ bot.fund_quote_asset|floatformat:4|default:"-" }} {{ bot.symbol.quote_asset }}
					</li>
					<li class="list-group-item">
						<strong>Fund (Quote Assett) Executed</strong>: {{ bot.fund_quote_asset_exec|floatformat:4|default:"-" }} {{ bot.symbol.quote_asset }}
					</li>
					<li class="list-group-item">
						<strong>Fund (Base Assett)</strong>: {{ bot.fund_base_asset|floatformat:4|default:"-" }} {{ bot.symbol.base_asset }}
					</li>
					{% if bot.price_buying %}
					<li class="list-group-item">
						<strong>Price Buying (NET)</strong>: {{ bot.price_buying|floatformat:6|default:"-" }} | <strong>Current Market Price</strong>: {{ bot.price_current|floatformat:6|default:"-" }}
						{% with bot.price_current|div:bot.price_buying|sub:1|mul:100 as var_pc %}
							(<span class="{% if var_pc > 0 %}text-success{% else %}text-danger{% endif %}">{{ var_pc|floatformat:4 }}%</span>)
						{% endwith %}
					</li>
					{% else %}
					<li class="list-group-item">
						<strong>Current Market Price</strong>: {{ bot.price_current|floatformat:6|default:"-" }} {{ bot.symbol.quote_asset }}
					</li>
					{% endif %}
					<li class="list-group-item">
						<strong>Current Market Valuation</strong>: {{ bot.valuation_current|floatformat:4 }} {{ bot.symbol.quote_asset }}
					</li>
					{% if bot.timestamp_start %}
					<li class="list-group-item">
						<strong>Timestamp - Start</strong>: {{ bot.timestamp_start }} ({{ bot.timestamp_start|timesince }} ago)
					</li>
					{% endif %}
					{% if bot.timestamp_buying %}
					<li class="list-group-item">
						<strong>Timestamp - Buying</strong>: {{ bot.timestamp_buying }} ({{ bot.timestamp_buying|timesince }} ago)
					</li>
					{% endif %}
					{% if bot.receipt_buying %}
					<li class="list-group-item" style="border-top: 1px solid rgba(0,0,0,.125);">
						<strong>Receipt - Buying</strong>: <pre>{{ bot.receipt_buying }}</pre>
					</li>
					{% endif %}
				</ul>
			</div>

		</div>

		<div class="container">
			<h4 class="m-2">Actions</h4>

			<div class="btn-group">
				<a class="btn btn-warning" href="{% url "base:botzinhos-logs" bot.pk %}">View Logs</a>
				{% if bot.status == bot.Status.INACTIVE %}
				<a class="btn btn-warning" href="{% url "base:botzinhos-update" bot.pk %}">Update</a>
				{% endif %}
			</div>
			<div class="btn-group">
				{% if not bot.price_buying %}
				{% url "base:botzinhos-action" bot.pk "buy" as action_url %}
				{% action_button action_url "Force BUY" "btn-success" %}
				{% else %}
				{% url "base:botzinhos-action" bot.pk "sell" as action_url %}
				{% action_button action_url "Force SELL" "btn-danger" %}
				{% endif %}
				{% if bot.status > bot.Status.INACTIVE %}
				{% url "base:botzinhos-action" bot.pk "off" as action_url %}
				{% action_button action_url "Turn OFF" "btn-dark" %}
				{% else %}
				{% url "base:botzinhos-action" bot.pk "on" as action_url %}
				{% action_button action_url "Turn ON" "btn-primary" %}
				{% endif %}
			</div>
			{% if bot.status == bot.Status.INACTIVE %}
			<div class="btn-group">
				{% url "base:botzinhos-action" bot.pk "reset_soft" as action_url %}
				{% action_button action_url "RESET (SOFT)" "btn-warning" %}
				{% url "base:botzinhos-action" bot.pk "reset_hard" as action_url %}
				{% action_button action_url "RESET (HARD)" "btn-danger" %}
			</div>
			{% endif %}
			{% if not bot.price_buying and bot.status == bot.Status.INACTIVE %}
			<div class="ul">
				{% include "base/_jumping_form.html" with view="base:botzinhos-action" obj=bot %}
			</div>
			{% endif %}
		</div>

	{% include "base/trades_section.html" with summary=summary trades=trades page_obj=page_obj %}

	</div>

{% endblock content %}

{% block bootstrap5_extra_script %}
    <script>
    	if (location.protocol === "http:") {
    		ws_protocol = "ws:"
    	} else {
    		ws_protocol = "wss:"
    	}

        const botsSocket = new WebSocket(
            ws_protocol + '//'
            + window.location.host
            + '/ws/bots/html'
        );

        botsSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // console.log(data)
            if (data.type === "bot_update") {
            	bot_element = document.getElementById(data.bot)
            	if (bot_element) {
            		bot_element.outerHTML = data.text;
            	}
            }
        };

        botsSocket.onclose = function(e) {
            console.error('Bots socket closed unexpectedly');
        };

        function currentTime() {
		  let date = new Date();
		  let hh = date.getUTCHours();
		  let mm = date.getUTCMinutes();
		  let ss = date.getUTCSeconds();

		   hh = (hh < 10) ? "0" + hh : hh;
		   mm = (mm < 10) ? "0" + mm : mm;
		   ss = (ss < 10) ? "0" + ss : ss;

		   let time = hh + ":" + mm + ":" + ss;

		  document.getElementById("clock").innerText = time;
		  document.getElementById("date").innerText = date.toLocaleDateString("en-US", {year: 'numeric', month: 'long', day: 'numeric' });
		  let t = setTimeout(function(){ currentTime() }, 1000);
		}

		currentTime();
    </script>
{% endblock %}
