{% extends "base/base.html" %}

{% load bootstrap5 mathfilters symbols %}

{% block bootstrap5_extra_head %}
<style type="text/css">
.bot-detail {
	margin-top: -1px;
	border-width-top: 0px;
	border:1px solid rgba(0,0,0,.125);
}

.bot-detail .list-group-item {
	border: 0;
}
</style>
{% endblock bootstrap5_extra_head %}

{% block title %}
	Botzinhos (小bots)
{% endblock title %}

{% block content %}
	<div class="container">
		<h6 class="text-center">
			<span id="date"></span> |
			<strong id="clock" class="text-primary"></strong>
			<strong>UTC</strong> - Time Interval: <span class="text-primary fw-bolder">| {{ time_interval }}m |</span>
		</h6>

		{% groups_breadcrumbs request.user %}

		<div class="container bg-warning bg-gradient">
			<span class="badge bg-light rounded-pill float-end mt-2"><a class="text-muted" href="#group-summary">SUMMARY</a></span>
			<h4 class="mt-1 mb-0 p-2">GROUP: {{ group.name|default:"(Sem Nome)" }}</h4>

		<div class="form-check form-check-inline">
			  <label class="form-check-label">SORT BY &rarr;</label>
		</div>

		<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="sort-by" value="name" onchange="sort_bots()" checked="checked">
			  <label class="form-check-label">
			    Name
			  </label>
		</div>

		<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="sort-by" value="symbol" onchange="sort_bots()">
			  <label class="form-check-label">
			    Symbol
			  </label>
		</div>

		<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="sort-by" value="status" onchange="sort_bots()">
			  <label class="form-check-label">
			    Status
			  </label>
		</div>

		<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="sort-by" value="variation" onchange="sort_bots()">
			  <label class="form-check-label">
			    Variation
			  </label>
		</div>

		<div class="form-check form-check-inline">
			  <input class="form-check-input" type="radio" name="sort-by" value="time" onchange="sort_bots()">
			  <label class="form-check-label">
			    Time
			  </label>
		</div>
		</div>

		<div id="bots-list" class="list-group">
			{% for bot in bots %}
			{% bot_render_html_snippet bot=bot %}
			{% endfor %}
		</div>
		<div id="group-summary">
			<p class="list-group-item bg-warning bg-gradient m-0 fw-bolder" style="border-top-width: 0px !important;">SUMMARY
			<span class="badge bg-light rounded-pill float-end"><a class="text-muted" href="#top">(Back to Top)</a></span>
			</p>
			{% include "base/_group_summary.html" with group=group %}
		</div>

		<div class="container">
			<h4 class="m-2">Group Actions</h4>

			<div class="btn-group">
				{% if group.are_all_off %}
				<a class="btn btn-warning" href="{% url "base:botzinhos-group-update" group.pk %}">Atualizar Grupo</a>
				{% endif %}
				<a class="btn btn-primary" href="{% url "base:botzinhos-create" %}?group={{group.pk}}">Novo(s) Botzinho(s)</a>
				<a class="btn btn-warning" href="{% url "base:botzinhos-group-move" group.pk %}">Mover Botzinhos</a>
			</div>
			<div class="btn-group">
				{% url "base:botzinhos-group-action" group.pk "off" as action_url %}
				{% action_button action_url "Turn OFF" "btn-dark" %}
				{% url "base:botzinhos-group-action" group.pk "on" as action_url %}
				{% action_button action_url "Turn ON" "btn-primary" %}
				{% url "base:botzinhos-group-action" group.pk "liquidate" as action_url %}
				{% action_button action_url "LIQUIDATE (FORCE SELL and Turn OFF)" "btn-danger" %}
				{% if group.are_all_off %}
				{% url "base:botzinhos-group-action" group.pk "reset_soft" as action_url %}
				{% action_button action_url "RESET (SOFT)" "btn-warning" %}
				{% url "base:botzinhos-group-action" group.pk "reset_hard" as action_url %}
				{% action_button action_url "RESET (HARD)" "btn-danger" %}
				{% if request.user.is_superuser %}
				{% url "base:botzinhos-group-action" group.pk "group_delete" as action_url %}
				{% action_button action_url "DELETE (!!)" "btn-danger" %}
				{% endif %}
				{% endif %}
			</div>
			{% if group.are_all_off %}
			<div class="ul">
				{% include "base/_jumping_form.html" with view="base:botzinhos-group-action" obj=group %}
			</div>
			{% endif %}
		</div>

	</div>

	{% include "base/trades_section.html" with summary=summary trades=trades obj=group %}

{% endblock content %}

{% block bootstrap5_extra_script %}
    <script>
    	if (location.protocol === "http:") {
    		ws_protocol = "ws:"
    	} else {
    		ws_protocol = "wss:"
    	}

        const botsSocket = new WebSocket(
            ws_protocol + '//'
            + window.location.host
            + '/ws/bots/html'
        );

        botsSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // console.log(data)
            if (data.type === "bot_update") {
            	bot_element = document.getElementById(data.bot)
            	if (bot_element) {
            		bot_element.outerHTML = data.text;
            	}
            sort_bots();
            }
        };

        botsSocket.onclose = function(e) {
            console.error('Bots socket closed unexpectedly');
        };

        var get_value_funs = {
			"name": function get_name_value(list_item) {
					text = list_item.getElementsByClassName("name-value")[0].textContent
					return text
					},
			"symbol": function get_symbol_value(list_item) {
					text = list_item.getElementsByClassName("symbol-value")[0].textContent
					return text
					},
			"status": function get_status_value(list_item) {
					text = list_item.getElementsByClassName("status-value")[0].textContent
					return text
				},
			"variation": function get_variation_value(list_item) {
					text = list_item.getElementsByClassName("variation-value")[0].textContent
					return new Number(text.substring(0, text.length - 1))
				},
			"time": function get_time_value(list_item) {
					text = list_item.getElementsByClassName("variation-value")[0].textContent
					return text
				}
		}

		function get_value_function() {
			var sort_by = document.querySelector('input[name="sort-by"]:checked').value;
			return get_value_funs[sort_by]
		}

        function sort_bots() {
        	var bots_list = document.getElementById('bots-list');
			var items = bots_list.childNodes;
			var itemsArr = [];
			var items_to_remove = [];
			for (var i in items) {
			    if (items[i].nodeType == 1) { // get rid of the whitespace text nodes
				    if (!items[i].textContent.includes("S1"))
				    { // get rid of bots with testing symbols
				        itemsArr.push(items[i]);
				    } else {
				    	items_to_remove.push(items[i]);
				    }
			    }
			}
			for (var i in items_to_remove) {
		    	items_to_remove[i].remove();
			}
			sort_fun = get_value_function()
			itemsArr.sort(function(a, b) {
			  // Sorts in ascending order
			  return sort_fun(a) == sort_fun(b)
			          ? 0
			          : (sort_fun(a) > sort_fun(b) ? 1 : -1);
			});

			for (i = 0; i < itemsArr.length; ++i) {
			  bots_list.appendChild(itemsArr[i]);
			}
        }

        function currentTime() {
		  let date = new Date();
		  let hh = date.getUTCHours();
		  let mm = date.getUTCMinutes();
		  let ss = date.getUTCSeconds();

		   hh = (hh < 10) ? "0" + hh : hh;
		   mm = (mm < 10) ? "0" + mm : mm;
		   ss = (ss < 10) ? "0" + ss : ss;

		   let time = hh + ":" + mm + ":" + ss;

		  document.getElementById("clock").innerText = time;
		  document.getElementById("date").innerText = date.toLocaleDateString("en-US", {year: 'numeric', month: 'long', day: 'numeric' });
		  let t = setTimeout(function(){ currentTime() }, 1000);
		}

		currentTime();
    </script>
{% endblock %}
