{% extends "base/base.html" %}

{% load bootstrap5 mathfilters symbols %}

{% block bootstrap5_extra_head %}
<style type="text/css">
.bot-detail {
	margin-top: -1px;
	border-width-top: 0px;
	border:1px solid rgba(0,0,0,.125);
}

.bot-detail .list-group-item {
	border: 0;
}
</style>
{% endblock bootstrap5_extra_head %}

{% block title %}
	Botzinhos (小bots)
{% endblock title %}

{% block content %}
	<div class="container">
		<h6 class="text-center">
			<span id="date"></span> |
			<strong id="clock" class="text-primary"></strong>
			<strong>UTC</strong> - Time Interval: <span class="text-primary fw-bolder">| {{ time_interval }}m |</span>
		</h6>

		{% groups_breadcrumbs request.user %}

		<div class="container bg-warning bg-gradient">
			<h4 class="mt-1 mb-0 p-2">GROUP: {{ group.name|default:"(Sem Nome)" }}</h4>
		</div>

		<div id="bots-list" class="list-group">
			{% for bot in bots %}
			{% bot_render_html_snippet bot=bot %}
			{% endfor %}

			<div class="bot-detail" style="">
				<ul class="list-group mt-0" style="border-width: 0px !important; ">
					{% if group.valuation_current and group.valuation_initial %}
					<li class="list-group-item">
						<strong>Group Valuation</strong>: {{group.valuation_current|floatformat:3 }} {{ quote_asset }} [{% with group.valuation_current|div:group.valuation_initial|sub:1|mul:100 as var_val %}
						<span class="{% if var_val > 0 %}text-success{% else %}text-danger{% endif %}">{{ var_val|floatformat:3 }}%</span>]
					{% endwith %} <span class="text-muted">(Current)</span> | {{group.valuation_initial|floatformat:3 }} {{ quote_asset }} <span class="text-muted">(Initial)</span>
					</li>
					{% endif %}
				</ul>
			</div>

		</div>

		<div class="container">
			<h4 class="m-2">Group Actions</h4>

			<div class="btn-group">
				<a class="btn btn-warning" href="{% url "base:botzinhos-group-update" group.pk %}">Atualizar Grupo</a>
				<a class="btn btn-primary" href="{% url "base:botzinhos-create" %}?group={{group.pk}}">Novo Botzinho</a>
			</div>
			<div class="btn-group">
				{% url "base:botzinhos-group-action" group.pk "off" as action_url %}
				{% action_button action_url "Turn OFF" "btn-dark" %}
				{% url "base:botzinhos-group-action" group.pk "on" as action_url %}
				{% action_button action_url "Turn ON" "btn-primary" %}
				{% url "base:botzinhos-group-action" group.pk "liquidate" as action_url %}
				{% action_button action_url "LIQUIDATE (FORCE SELL and Turn OFF)" "btn-danger" %}
			</div>
			<div class="ul">
				{% include "base/_jumping_form.html" with view="base:botzinhos-group-action" obj=group %}
			</div>
		</div>

	</div>

	{% include "base/trades_section.html" with summary=summary trades=trades page_obj=page_obj %}

{% endblock content %}

{% block bootstrap5_extra_script %}
    <script>
    	if (location.protocol === "http:") {
    		ws_protocol = "ws:"
    	} else {
    		ws_protocol = "wss:"
    	}

        const botsSocket = new WebSocket(
            ws_protocol + '//'
            + window.location.host
            + '/ws/bots/html'
        );

        botsSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // console.log(data)
            if (data.type === "bot_update") {
            	bot_element = document.getElementById(data.bot)
            	if (bot_element) {
            		bot_element.outerHTML = data.text;
            	}
            }
        };

        botsSocket.onclose = function(e) {
            console.error('Bots socket closed unexpectedly');
        };

        function currentTime() {
		  let date = new Date();
		  let hh = date.getUTCHours();
		  let mm = date.getUTCMinutes();
		  let ss = date.getUTCSeconds();

		   hh = (hh < 10) ? "0" + hh : hh;
		   mm = (mm < 10) ? "0" + mm : mm;
		   ss = (ss < 10) ? "0" + ss : ss;

		   let time = hh + ":" + mm + ":" + ss;

		  document.getElementById("clock").innerText = time;
		  document.getElementById("date").innerText = date.toLocaleDateString("en-US", {year: 'numeric', month: 'long', day: 'numeric' });
		  let t = setTimeout(function(){ currentTime() }, 1000);
		}

		currentTime();
    </script>
{% endblock %}
