{% load mathfilters symbols %}

<table class="table table-hover">
  <thead>
    <tr>
    	<th scope="col" class="{{ table_class }}">{{ table_name }}</th>
		<th scope="col">Total Gains</th>
		<th scope="col">Avg. Variation</th>
		<th scope="col">Avg. Duration</th>
		<th scope="col">#Trades</th>
    </tr>
  </thead>
  <tbody>
  	{% for row_name, row_vals in s.rows.items %}
  	<tr>
      <th scope="row">{{ s.meta.descriptions.rows|get:row_name }}</th>
  		<td>
  			<span class="{% if row_vals.gain_quote_asset_total > 0 %}text-success{% else %}text-danger{% endif %}">{{ row_vals.gain_quote_asset_total|floatformat:3|default:"-" }}</span>
  		</td>
  		<td>
  			<span class="{% if row_vals.variation_average > 0 %}text-success{% else %}text-danger{% endif %}">{{ row_vals.variation_average|floatformat:2|default:"-" }}%</span>
  		</td>
  		<td>
  			{{ row_vals.duration_total_average|timedelta|default:"-" }}
  		</td>
  		<td>
  			<span class="text-success">{{ row_vals.trades_quantity|default:"-" }}</span>
  		</td>
  	</tr>
  	{% endfor %}
    <tr>
  </tbody>
</table>
