{% load symbols mathfilters %}

<li id="trade-{{ trade.id }}" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      	<h5 class="mb-1">
      		#{{ trade.id|stringformat:"05d" }}: {{ trade.symbol.base_asset }}/{{ trade.symbol.quote_asset }} |
      		{% if trade.is_complete %}
      			<span class="{% if trade.variation_quote_asset > 0 %}text-success{% else %}text-danger{% endif %}">{{ trade.variation_quote_asset|floatformat:4 }} {{ trade.symbol.quote_asset }} ({{trade.variation|floatformat:3 }}%)</span>
      		{% elif trade.timestamp_cancelled %}
      		Cancelled
      		{% else %}
      		Ongoing / Not Finished
      		{% endif %}
      	</h5>
      	<small class="text-muted text-end" >
      		{% if trade.is_dummy %}<span class="badge bg-danger rounded-pill">DUMMY</span>{% endif %}
      		<a href="{% url "base:botzinhos-detail" trade.bot.pk %}">#{{ trade.bot.pk|stringformat:"03d" }}: {{trade.bot.name }}</a>
      		<br>{{ trade.strategy|upper }}({{ trade.strategy_params }})
      	</small>
    </div>
	<div class="float-end">
		<button class="btn btn-primary badge rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#receipts-{{ trade.id }}" aria-expanded="false" aria-controls="collapseExample">
		Receipts
 		</button>
	</div>
    <p>
    	<strong>Quote Asset Fund</strong>: {{ trade.fund_quote_asset_exec|floatformat:4|default:"-"}} {{trade.symbol.quote_asset }} <span class="text-muted">(Executed)</span> | {{ trade.fund_quote_asset_return|floatformat:4|default:"-"}} {{trade.symbol.quote_asset }} <span class="text-muted">(Returned)</span><br>
    	<strong>Base Asset Fund</strong>: {{ trade.fund_base_asset|floatformat:4|default:"-"}} {{trade.symbol.base_asset }} [ {{ trade.fund_base_asset_exec|floatformat:4|default:"-"}} <span class="text-muted">(Executed)</span> | {{ trade.fund_base_asset_unexec|floatformat:4|default:"-" }} <span class="text-muted">(Unexecuted)</span> ]<br>
		<strong>Commissions</strong>: {{ trade.commission_buying|floatformat:8|default:"-"}} {{trade.commission_buying_asset|default:"" }} <span class="text-muted">(Buying)</span> | {{ trade.commission_selling|floatformat:8|default:"-"}} {{trade.commission_selling_asset|default:"" }} <span class="text-muted">(Selling)</span><br>
    	<strong>Timestamps</strong>: {{ trade.timestamp_start }} <span class="text-muted">(Start)</span> | {{ trade.timestamp_buying|default:"-" }} <span class="text-muted">(Buying)</span> | {{ trade.timestamp_selling|default:"-" }} <span class="text-muted">(Selling)</span> {% if trade.timestamp_cancelled %} | {{ trade.timestamp_cancelled }} <span class="text-muted">(Cancelled)</span>{% endif %}<br>
    	<strong>Durations</strong>: {{ trade.duration_seeking|timedelta|default:"-" }} <span class="text-muted">(Seeking)</span> | {{ trade.duration_trade|timedelta|default:"-" }} <span class="text-muted">(Trade)</span> | {{ trade.duration_total|timedelta|default:"-" }} <span class="text-muted">(Total)</span>
    	<div class="collapse" id="receipts-{{ trade.id }}">
	   		<p><strong>Receipt - Buying</strong>: <pre>{{ trade.receipt_buying|default:"-" }}</pre></p>
	   		<p><strong>Receipt - Selling</strong>: <pre>{{ trade.receipt_selling|default:"-" }}</pre></p>
		</div>
    </p>
</li>
