{% extends "base/base.html" %}

{% load bootstrap5 mathfilters symbols %}

{% block title %}
	Usuário
{% endblock title %}

{% block content %}
	<div class="container">
		<p></p>
		<h3><strong>{{ user.username }}</strong></h3>
		<p><strong>Correio Electrónico</strong>: {{ user.email }}</p>
		<p><strong>Nome</strong>: {{ user.first_name }}</p>
		<p><strong>Sobrenome</strong>: {{ user.last_name }}</p>
		<p><strong>Chave do API</strong>: {% if user.api_key %}************{% else %}-{% endif %}</p>
		<p><strong>Segredo do Chave do API</strong>: {% if user.api_secret %}************{% else %}-{% endif %}</p>
		{% if user.bot_quota > 0 %}
		<p><strong>Cota do Botzinhos</strong>: {{ user.bot_count }}/{{ user.bot_quota }}</p>
		{% endif %}

		<div class="container">
			<h4 class="m-2">Actions</h4>

			<div class="btn-group">
				<a class="btn btn-warning" href="{% url "base:users-update" %}">Atualizar</a>
				<a class="btn btn-danger" href="{% url "base:logout" %}">Sair</a>
			</div>
		</div>

		<div class="container">
			<h4 class="m-2">Groups</h4>

			<div class="group-summary">
				{% for group in groups %}
				<p class="list-group-item bg-warning bg-gradient m-0 fw-bolder" style="border-top-width: 0px !important;">
					<a class="text-dark" href="{% url "base:botzinhos-group-detail" group.pk %}">{{ group.name|default:"(Sem Nome)" }}</a>
				</p>
				{% include "base/_group_summary.html" with group=group %}
				{% endfor %}
			</div>
		</div>

		<div class="container">
			<div class="group-summary">
				<p class="list-group-item bg-success bg-gradient m-0 fw-bolder text-white" style="border-top-width: 0px !important;">
					ALL
				</p>
				{% include "base/_group_summary.html" with group=user %}
			</div>
		</div>

		{% if users %}
			{% for user, groups in users.items %}
			<div class="container">
				<h4 class="m-2">{{user}} Groups</h4>

				<div class="group-summary">
					{% for group in groups %}
					<p class="list-group-item bg-warning bg-gradient m-0 fw-bolder" style="border-top-width: 0px !important;">
						<a class="text-dark" href="{% url "base:botzinhos-group-detail" group.pk %}">{{ group.name|default:"(Sem Nome)" }}</a>
					</p>
					{% include "base/_group_summary.html" with group=group %}
					{% endfor %}
				</div>
			</div>

			<div class="container">
			<div class="group-summary">
				<p class="list-group-item bg-success bg-gradient m-0 fw-bolder text-white" style="border-top-width: 0px !important;">
					ALL
				</p>
				{% include "base/_group_summary.html" with group=user %}
			</div>
		</div>

			{% endfor %}
		{% endif %}

	{% include "base/trades_section.html" with summary=summary trades=trades page_obj=page_obj obj=user %}

	</div>
{% endblock content %}
